<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <title>Comment</title>
</head>
<body>
   
    <h2>Comment Something!</h2>
    <form action="/new" method="post">
        <label for="user">User</label>
        <input type="text" name="user" id="user" required>
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="5" required></textarea>
        <input type="submit" value="Send">
    </form>


</body>
</html>

